
h1 {
text-align: center;
}
h2 {
    text-align: center;
}
h4 {
    text-align: center;
}
ul {
    font-size: 20px;   
    text-align: left;  
}
p { 
        font-family: Arial, sans-serif;
        font-style: italic;
        text-align: justify;
        text-decoration: overline;
}